
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root {
    --background: url(img/bg.png)no-repeat center/cover;
}
html {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 65%;
    height: 85vh;
    margin: auto;
    transition: .3s linear;
}

header nav {
    width: 100%;
    height: 7%;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ajustando div */
header nav .right_bx {
    display: flex;
    align-items: center;

}

header nav .right_bx ul {
    list-style: none;
    display: flex;
    align-items: center;
    
}

header nav .right_bx ul li {
    padding: 3px 15px;
}


header nav .right_bx ul li a {
    text-decoration: none;
    color: gray;
    font-size: 11px;
    font-weight: 500;
    transition: .3s linear;
}

header nav .right_bx ul li a:hover {
    color:black;
}

header nav .right_bx .account_bx{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

header nav .right_bx .account_bx .bi {
    margin-right: 5px;
    color: gray;
    cursor: pointer;
    transition: .3s linear;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 2px 6px;
    transition: .3s linear;
}

header nav .right_bx .account_bx .bi:hover {
    color: #fff;
    background: gray;
    border: 1px solid #fff;
}



header .content {
    position: relative;
    width: 100%;
    height: 93%;  
    z-index: 5;
}

header .content::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    background: var(--background);
    background-position-y: 0px;
    transform: scaleX(-1);
    border-radius: 20px;
    z-index: -1;
}

header .content .cont_bx{
    width: 500px;
    height: auto;
    color: #fff;
    padding: 50px; 
}

header .content .cont_bx h1{
   font-size: 45px;
   line-height: 60px;
   font-weight: 600;
}

header .content .cont_bx p{
    font-size: 13px;
    font-weight: 400;
    color:#fff; 
    margin-top: 10px;   
}


header .content .cont_bx .btns_cont {
    margin-top: 160px;
}

header .content .cont_bx .btns_cont i{
    border: 2px solid #fff;
    color: #fff;
    padding: 0px 3.3px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s linear;
}

header .content .cont_bx .btns_cont i:hover{
    color: #fff;
    background: #000;
    border: 2px solid #fff;
    
}

header .content .cont_bx .images_bx{
    position: absolute;
    right: 20px;
    top: 60px;
    width: 50px;
}
header .content .cont_bx .images_bx .card{
    position: relative;
    width: 100%;
    height: 50px;
    background: rgb(237, 237, 237, .3);
    padding: 5px;
    border-radius: 8px;
}

header .content .cont_bx .images_bx .card img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

header .content .cont_bx .images_bx .card h6{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 14px;
    color: #fff;
}

header .content .choose_bx {
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
    bottom: 40px;
}

header .content .choose_bx .stay_bx {
    display: flex;
    align-items: center;
}

header .content .choose_bx .stay_bx button{
    padding: 10px 30px;
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: .3s linear;
    margin-top: 10px;
}

header .content .choose_bx .stay_bx button:hover{
    background: #fff;
    color: #000;
}

header .content .choose_bx .stay_bx button:nth-child(1){
    border-radius: 10px 0px 0px 0px; 
    background: #fff;
    color: #000;   
}

header .content .choose_bx .stay_bx button:nth-last-child(1){
    border-radius: 0px 10px 0px 0px; 
}

header .content .choose_bx .stay_bx button i {
    margin-right: 5px;
}

header .content .choose_bx .select {
    width: 100%;
    height: 135px;
    background: #fff;
    border-radius: 0px 10px 10px 10px;
    position: relative;
    padding: 10px 20px;
    z-index: 2;
    box-shadow: 7px 9px 20px -1px rgb(32, 31, 31);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .content .choose_bx .select .card {
    width: 45%;
    height: 90%;
    border: 2px solid rgb(226, 226, 226, .7);
    border-radius: 10px;
    padding: 10px 0px 10px 30px;
}

header .content .choose_bx .select .card h5 {
    font-size: 16px;
    font-weight: 500;
}

header .content .choose_bx .select .card input {
   border: none;
   outline: none;
   margin-top: 5px;
   font-size: 20px;
   font-weight: 700;
   background: none; 
   font-family: 'Poppins', sans-serif;
   color: #000;
}

header .content .choose_bx .select .card input:nth-child(3) {
    font-size: 12px;
    font-weight: 500;
    color: gray;
}
.map {
    position: relative;
    width: 100%;
    height: 380px;
    top: -130px;
    overflow: hidden;
    z-index: 0;
}

.map iframe{
    opacity: .8;
}

.map::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 10%;
    background: linear-gradient(0deg, transparent, #fff);
    top: 0;
    left: 0;
    z-index: 2;
}

.map::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 15%;
    background: linear-gradient(180deg, transparent, #fff);
    bottom: 0;
    left: 0;
    z-index: 2;
}
.map .address_bx {
    position: absolute;
    width: 200px;
    height: 65px;
    background: #fff;
    box-shadow: 4px 4px 25px gray;
    border-radius: 8px;
    padding: 0px 20px;
    top: 44%;
    left: 20%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map .address_bx .bi{
    font-size: 25px;
}

.home {
    position: relative;
    width: 65%;
    height: 230px;
    margin: auto;
    top: -110px;
    z-index: 2;
}

.home .title_button {
    display: flex;
    align-items: center;
    justify-content: center;
}



.home .title_button button {
    position: absolute;
    right: 0;
    padding: 8px 15px;
    background: #fff;
    color: #000;
    box-shadow: 3px 3px 25px rgb(233, 233, 233);
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font: 12px;
    cursor: pointer;
    transition: .3s linear;
}

.home .title_button button:hover{
    background: #000;
    color: #fff;
}

.home .title_button button .bi {
    margin-left: 5px;
}

.home .home_bx {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .home_bx .card {
    position: relative;
    width: 180px;
    height: 260px;
    border-radius: 15px;
}

.home .home_bx .card img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.home .home_bx .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 999;
}

.home .home_bx .card .content .bi {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #fff;
    font-size: 25px;
    transition: .3s linear;
}

.home .home_bx .card .content .bi::after {
    content: '';
    position: absolute;
    width: 165%;
    height: 110%;
    background: rgba(63, 63, 63, 0.5);
    filter: blur(2px);
    left: -33%;
    top: -3px;
    border-radius: 50%;
    z-index: -1;
    
}

.home .home_bx .card .content:hover .bi:hover {
    color: black;
}



.home .home_bx .card .content .cont {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
}

.home .home_bx .card .content .cont::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(245, 245,245 , .1);
    backdrop-filter: blur(3px);
    border-radius: 0px 0px 13px 13px;
    z-index: -1;
}

.home .home_bx .card .content .cont h4{
    color: #fff;
    padding: 10px 0px 0px 15px;
    line-height: 10px;
}

.home .home_bx .card .content .cont p{
    color: #fff;
    padding: 10px 0px 0px 15px;
    font-size: 12px;
}

footer {
    margin-top: 100px;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;

}

footer h4 {
    color: #fff;
}